
/*fonts link*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/*common code*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #898989;
}
/*header start*/
header{
	padding: 30px 0;
	background-color: #fcdb00;
}
.c_nav{}
.logo{}
.b_nav:focus {
	box-shadow: none;
}
.menu{}
.menu ul li a{
	padding: 0 60px !important;
	font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: #ffffff !important;
}

/*header end*/


/*slidder start*/
.slidder{
	padding-bottom: 100px;
	background-color: #fcdb00;
}
.inci_c {
    bottom: -90px;
}
.inci_c [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6e0d0d;
}

.c_text{
	margin-top: 40px;
}
.c_text h1{
	margin: 0;
	font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.c_text h2{
	margin: 20px 0;
	font-size: 20px;
    font-weight: 400;
    color: #313841;
}
.c_text p{
	margin-bottom: 35px;
	line-height: 24px;
}
.c_icon{}
.c_icon ul li i{
	margin-right: 15px;
	font-size: 42px;
    color: #010101;
    transition: .3s;
}
.c_icon ul li i:hover {
	transform: scale(0.8);
}
.c_img{}
.c_img img{}
/*slidder end*/

/*slidder start*/
.features{
	padding: 100px 0 120px;
}
.f_text{}
.f_h1{
	margin: 0;
	font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.f_h2{
	margin: 15px 0 0;
	font-size: 20px;
    color: #313841;
}
/*item start*/
.f_item{
	margin-top: 85px;
}
.f_icon{}
.f_icon i{
	margin-top: 8px;
	margin-left: 7px;
	font-size: 50px;
    color: #010101;
    transition: .3s;
}
.f_icon i:hover {
	transform: scale(0.7);
}
.f_tittle{}
.f_tittle h1{
	margin: 0;
	font-size: 22px;
    color: #010101;
}
.f_tittle p{
	margin: 15px 0 0;
	line-height: 24px;
}

/*item end*/
/*slidder end*/
.contact{
	padding: 100px 0 120px;
	background-color: #010101;
}
.c_yellow{
	color: yellow;
}
.c_ash{
	color: #898989;
}
.c_form{
	margin-top: 40px;
	margin-bottom: 70px;
}
.c_input{
	font-family: 'PT Sans', sans-serif;
    padding: 15px 22px;
    color: #898989;
	height: 55px;
}
.btn_c{
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
    width: 100%;
    height: 55px;
   	background-color: yellow;
   	text-transform: uppercase;
}
.btn_c:hover {
	background-color: #ffffff;
	color: #010101;
}
.btn_c:active {
	background-color: #ffffff !important;
	color: #010101 !important;
}

.con_icon{}
.con_icon ul li i{
	margin-right: 15px;
	font-size: 42px;
    color: yellow;
    transition: .3s;
}
.con_icon ul li:last-child i{
	margin-right: 0;
}
.con_icon ul li i:hover {
	transform: scale(0.7);
}

/*contact end*/

/*footer start*/
footer{
	padding-bottom: 120px;
	background-color: #010101;
}
.f_1{}
.f_1 address{
	margin-bottom: 0;
	color: #ffffff;
}
.f_2{}
.f_2 p a{
	color: #ffffff;
	text-decoration: none;
}
/*footer end*/

